{% extends "admin/base.html.twig" %}

{% block title%} Liste des Packages{% endblock %}


{% block body %}
    <aside class="right-side right-padding">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--section starts-->
            <h2>Packages</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="active" id="active">
                    <a href="packages.html">Packages</a>
                </li>
                <span class="pull-right">
                     <a href="/admin/index/mailer/" class="btn btn-primary">
                         <i class="fa fa-fw fa-send"></i>SEND MAIL</a>
                </span>
                <span class="pull-right">
                     <a href="/admin/index/new/" class="btn btn-warning">
                         <i class="fa fa-fw fa-plus"></i>ADD NEW PACKAGE</a>
                </span>
            </ol>
        </section>
        <!--section ends-->
        <div class="container-fluid">
            <!--main content-->

            <div class="row">
                <div class="col-lg-12">
                    <!-- Basic charts strats here-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-fw fa-file-text-o"></i> Available Packages

                                <span class="pull-right">
                                     <a href="/admin/index/order" class="btn-info btn">ORDER </a>
                                    <i class="glyphicon glyphicon-chevron-up showhide clickable"></i>
                                </span>


                            </h4>

                        </div>
                        <div class="panel-body table-responsive">

                            <table class="table table-bordered table1">




                                    {% if package %}
                                    <tbody>



                                <div class="col-md-offset-10">


                                    <div class='input-group date datetimepicker7'>
                                        <input type='text' class="form-control"  id="myInput"  name="find" placeholder="search here.."  />
                                        <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </span>
                                    </div>

                                </div>

                                <thead>
                                <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Image</th>
                                        <th>Level</th>
                                        <th>Requirement</th>
                                        <th>Duration</th>
                                        <th>Price</th>

                                        <th>Rate</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="hi">
                                    {% for package in package %}
                                        <tr>
                                            <td>{{ package.pkgId }}</td>
                                            <td>{{ package.name }}</td>
                                            <td>  <img src="{{ asset('front/img/'~ package.image) }}" height="100" width="100"></td>
                                            <td>{{ package.detail }}</td>


                                            <td>

                                                <a href="/admin/index/edit/{{ package.pkgId }}" class="btn btn-primary">
                                                <i class="fa fa-fw fa-edit"></i></a>
                                                <a href="/admin/index/delete/{{ package.pkgId }}" class="btn btn-danger"
                                                   onclick="return confirm('Do you really want to delete this item?');"> <i class="fa fa-trash-o"></i></a>
                                                <a href="/admin/index/stat/{{ package.pkgId }}" class="btn btn-info">
                                                    <i class="fa fa-fw fa-pie-chart"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                            <script>
                                $(document).ready(function(){
                                    $('#myInput').keyup(function(){
                                        search_table($(this).val());
                                    });
                                    function search_table(value){
                                        $('#hi tr').each(function(){
                                            var found = 'false';
                                            $(this).each(function(){
                                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                                {
                                                    found = 'true';
                                                }
                                            });
                                            if(found === 'true')
                                            {
                                                $(this).show();

                                            }
                                            else
                                            {
                                                $(this).hide();

                                            }
                                        });
                                    }
                                });
                            </script>




                            {% else %}
                                <p>no results found.</p>
                            {% endif %}

                    </div>

                </div>
            </div>
        </div>
        </div>

    </aside>

{% endblock %}
