<header class="header">
    <nav class="navbar navbar-static-top">
        <a href="{{ path('dashboard') }}" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            <img src="{{ asset('back/img/logo.png') }}" alt="image not found">
        </a>
        <!-- Header Navbar: style can be found in header-->
        <!-- Sidebar toggle button-->
        <!-- Sidebar toggle button-->
        <div>
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i class="fa fa-fw fa-navicon"></i>
            </a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-fw fa-envelope-o black"></i>
                        <span class="label label-success">5</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages table-striped">
                        <li class="dropdown-title">New Messages</li>
                        <li>
                            <a href="" class="message striped-col">
                                <img class="message-image img-circle" alt="image" src="{{ asset('back/img/authors/avatar7.jpg') }}">
                                <div class="message-body"><strong>Ernest Kerry</strong>
                                    <br> Can we Meet?
                                    <br>
                                    <small>Just Now</small>
                                    <span class="label label-success label-mini msg-lable">New</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message">
                                <img class="message-image img-circle" alt="image" src="{{ asset('back/img/authors/avatar.jpg') }}">
                                <div class="message-body"><strong>John</strong>
                                    <br> Dont forgot to call...
                                    <br>
                                    <small>5 minutes ago</small>
                                    <span class="label label-success label-mini msg-lable">New</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message striped-col">
                                <img class="message-image img-circle" alt="image" src="{{ asset('back/img/authors/avatar5.jpg') }}">
                                <div class="message-body">
                                    <strong>Wilton Zeph</strong>
                                    <br> If there is anything else &hellip;
                                    <br>
                                    <small>14/10/2014 1:31 pm</small>
                                    <span class="label label-success label-mini msg-lable">New</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message">
                                <img class="message-image img-circle" alt="image" src="{{ asset('back/img/authors/avatar1.jpg') }}">
                                <div class="message-body">
                                    <strong>Jenny Kerry</strong>
                                    <br> Let me know when you free
                                    <br>
                                    <small>5 days ago</small>
                                    <span class="label label-success label-mini msg-lable">New</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message striped-col">
                                <img class="message-image img-circle" alt="image" src="{{ asset('back/img/authors/avatar.jpg') }}">
                                <div class="message-body">
                                    <strong>Tony</strong>
                                    <br> Let me know when you free
                                    <br>
                                    <small>5 days ago</small>
                                    <span class="label label-success label-mini msg-lable">New</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer">View All messages</li>
                    </ul>
                </li>
                <!--tasks-->
                <li class="dropdown tasks-menu hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-edit black"></i>
                        <span class="label label-primary">4</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li class="dropdown-title">You Have 4 Tasks</li>
                        <li>
                            <a href="" class="message striped-col">
                                Design some buttons
                                <small class="pull-right">20%</small>
                                <div class="message-body">
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-primary" style="width: 20%"
                                             role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                             aria-valuemax="100">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message">
                                Create a nice theme
                                <small class="pull-right">40%</small>
                                <div class="message-body">
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-success" style="width: 40%"
                                             role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                             aria-valuemax="100">
                                            <span class="sr-only">40% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message striped-col">
                                Some task I need to do
                                <small class="pull-right">60%</small>
                                <div class="message-body">
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message">
                                Make beautiful transitions
                                <small class="pull-right">80%</small>
                                <div class="message-body">
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-warning" style="width: 80%"
                                             role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                             aria-valuemax="100">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer">View All Tasks</li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle toggle-right">
                        <i class="fa fa-fw fa-comments-o black1"></i>
                        <span class="label label-danger">0</span>
                    </a>
                </li>
                <!-- Notifications: style can be found in dropdown-->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-bell-o black1"></i>
                        <span class="label label-warning">9</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li class="dropdown-title">You have 9 notifications</li>
                        <li>
                            <a href="" class="message icon-not striped-col">
                                <i class="fa fa-fw fa-users info"></i>
                                <div class="message-body">
                                    <strong>John Doe</strong>
                                    <br> 5 members joined today
                                    <br>
                                    <span class="noti-date">Just now</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message icon-not">
                                <i class="fa fa-fw fa-users warning"></i>
                                <div class="message-body">
                                    <strong>Tony</strong>
                                    <br> likes a photo of you
                                    <br>
                                    <span class="noti-date">5 min</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message icon-not striped-col">
                                <i class="fa fa-fw fa-user danger"></i>
                                <div class="message-body">
                                    <strong>John</strong>
                                    <br> Dont forgot to call...
                                    <br>
                                    <span class="noti-date">11 min</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message icon-not">
                                <i class="fa fa-fw fa-info-circle dange"></i>
                                <div class="message-body">
                                    <strong>Jenny Kerry</strong>
                                    <br> Very long description here...
                                    <br>
                                    <span class="noti-date">1 Hour</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="message icon-not striped-col">
                                <i class="fa fa-fw fa-thumbs-o-up success"></i>
                                <div class="message-body">
                                    <strong>Ernest Kerry</strong>
                                    <br> 2 members joined today
                                    <br>
                                    <span class="noti-date">3 Days</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer">View All Notifications</li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown-->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle padding-user" data-toggle="dropdown">
                            <img src="{{ asset('back/img/authors/avatar1.jpg') }}" width="35" class="img-circle img-responsive pull-left" height="35" alt="User Image">
                        <div class="riot">
                            <div>
                                Natali
                                <span>
                                        <i class="caret"></i>
                                    </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ asset('back/img/authors/avatar1.jpg') }}" class="img-circle" alt="User Image">
                            <p>Nataliapery</p>
                        </li>
                        <!-- Menu Body -->
                        <li class="pad-3">
                            <a href="#">
                                <i class="fa fa-fw fa-user"></i> My Profile
                            </a>
                        </li>
                        <li role="presentation"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-gear"></i> Account Settings
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#">
                                    <i class="fa fa-fw fa-lock"></i> Lock
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="login.html">
                                    <i class="fa fa-fw fa-sign-out"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>