<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar-->
    <section class="sidebar">
        <div id="menu" role="navigation">
            <div class="nav_profile">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="#">
                        <img src="{{ asset('back/img/authors/avatar1.jpg') }}" class="img-circle" alt="User Image">
                    </a>
                    <div class="content-profile">
                        <h4 class="media-heading">Nataliapery</h4>
                        <span class="text-default">Admin</span>
                    </div>
                </div>
            </div>
            <ul class="navigation">
                <li class="active" id="active">
                    <a href="index.html">
                        <i class="text-primary menu-icon fa fa-fw fa-dashboard"></i>
                        <span class="mm-text ">Dashboard</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li>
                    <a href="admin_clubinfo.html">
                        <i class="text-success menu-icon fa fa-fw fa-info-circle"></i>
                        <span class="mm-text">Club Info</span>
                    </a>
                </li>
                <li>
                    <a href="packages.html">
                        <i class="text-primary menu-icon fa fa-th fa-info-circle"></i>
                        <span class="mm-text">Packages</span>
                    </a>
                </li>
                <li>
                    <a href="personal_training.html">
                        <i class="text-success menu-icon fa fa-life-ring fa-info-circle"></i>
                        <span class="mm-text">Personal Training</span>
                    </a>
                </li>
                <li class="menu-dropdown">
                    <a href="#">
                        <i class="text-info menu-icon fa fa-fw fa-newspaper-o"></i>
                        <span class="mm-text">Reports</span>
                        <span class="fa fa-angle-down pull-right"></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{{ path('reclamation_back') }}">
                                <i class="text-primary menu-icon fa fa-inbox"></i> Reports
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown">
                    <a href="#">
                        <i class="text-danger menu-icon fa fa-fw fa-calendar"></i>
                        <span class="mm-text">Events</span>
                        <span class="fa fa-angle-down pull-right"></span>
                    </a>
                    <ul class="sub-menu">

                        <li>
                            <a href="{{ path('events_list') }}">
                                <i class="text-primary menu-icon fa fa-fw fa-list"></i> Events List
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('new_event') }}">
                                <i class="menu-icon text-success fa fa-pencil"></i> Add Event
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown">
                    <a href="#">
                        <i class="text-warning menu-icon fa fa-fw fa-graduation-cap"></i>
                        <span class="mm-text">Gyms</span>
                        <span class="fa fa-angle-down pull-right"></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{{ path('gym') }}">
                                <i class="text-success fa fa-fw fa-indent"></i> Gyms
                            </a>
                        </li>

                        <li>
                            <a href="admin_trainers.html">
                                <i class="text-danger fa fa-fw fa-paw"></i> Trainers
                            </a>
                        </li>
                    </ul>
                </li>









            </ul>
            <!-- / .navigation -->
        </div>
        <!-- menu -->
    </section>
    <!-- /.sidebar -->
</aside>