<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}BODYUP!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="shortcut icon" href="{{ asset('front/img/favicon.ico') }}" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="{{ asset('front/img/apple-touch-icon-57x57-precomposed.png') }}">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{ asset('front/img/apple-touch-icon-72x72-precomposed.png') }}">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{{ asset('front/img/apple-touch-icon-114x114-precomposed.png') }}">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{{ asset('front/img/apple-touch-icon-144x144-precomposed.png') }}">
        <!-- GOOGLE WEB FONT -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700|Kalam:400,700" rel="stylesheet">
        <!-- BASE CSS -->
        <link href="{{ asset('front/css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('front/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('front/css/menu.css') }}" rel="stylesheet">
        <link href="{{ asset('front/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('front/css/responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('front/css/icon_fonts/css/all_icons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('front/css/magnific-popup.min.css') }}" rel="stylesheet">

        <!-- YOUR CUSTOM CSS -->
        <link href="{{ asset('front/css/custom.css') }}" rel="stylesheet">
        <!-- SPECFIC CSS -->
        <link href="{{ asset('front/css/blog.css') }}" rel="stylesheet">
        <link href="{{ asset('front/css/ion.rangeSlider.min.css') }}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('front/js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('front/js/common_scripts_min.js') }}"></script>
            <script src="{{ asset('front/assets/validate.js') }}"></script>
            <script src="{{ asset('front/js/functions.js') }}"></script>
            <script src="{{ asset('front/js/modernizr.js') }}"></script>
            <!-- COMMON SCRIPTS -->
            <!-- SPECIFIC SCRIPTS -->
            <script src="{{ asset('front/js/bootstrap-portfilter.min.js') }}"></script>
            <script src="{{ asset('front/js/video_header.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- End Preload -->

{{ include('header.html.twig') }}



        {% block body %}

        {% endblock %}



{{ include('footer.html.twig') }}

    </body>
</html>
