
<!-- Header ================================================== -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <a href="/" id="logo">
                    <img src="{{ asset('front/img/logo.png') }}" width="95" height="27" alt="" data-retina="true" class="logo_normal">
                    <img src="{{ asset('front/img/logo_sticky.png') }}" width="95" height="27" alt="" data-retina="true" class="logo_sticky">
                </a>
            </div>
            <nav class="col-xs-9">
                <ul id="access_top">
                    <li><a href="#" class="search-overlay-menu-btn"><i class="icon-search-6"></i></a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#login" class="hidden-xs">Login</a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#register" class="hidden-xs">Register</a>
                    </li>
                </ul>
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="{{ asset('front/img/logo.png') }}" width="95" height="27" alt="Lovefit" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        <li><a href="{{ asset('/exercices') }}">Exercices</a>
                        </li>
                        <li><a href="{{ path('events_front') }}">Events</a>
                        </li>
                        <li><a href="{{ path('gyms_front') }}">Find a club</a>
                        </li>
                        <li><a href="{{ path('reclamations', {'id': '1'}) }}">Report</a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
                            <ul>
                                <li><a href="#0">Home versions</a>
                                    <ul>
                                        <li><a href="{{ asset('front/index.html') }}">Home Video Bg</a>
                                        </li>
                                        <li><a href="{{ asset('front/index_2.html') }}">Home Layer Slider</a>
                                        </li>
                                        <li><a href="{{ asset('front/index_3.html') }}">Home Cookie Bar</a>
                                        </li>
                                        <li><a href="{{ asset('front/index_4.html') }}">Home Pop Up</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{{ asset('front/fitness-course-1.html') }}">Workout page</a>
                                </li>
                                <li><a href="{{ asset('front/fitness-course-2.html') }}">Workout page 2</a>
                                </li>
                                <li><a href="{{ asset('front/about.html') }}">About Us</a>
                                </li>
                                <li><a href="{{ asset('front/subscribe-working.html') }}">Subscribe working</a>
                                </li>
                                <li><a href="#0">Cart section</a>
                                    <ul>
                                        <li><a href="{{ asset('front/cart-page-1.html') }}">Cart section 1</a>
                                        </li>
                                        <li><a href="{{ asset('front/cart-page-2.html') }}">Cart section 2</a>
                                        </li>
                                        <li><a href="{{ asset('front/cart-page-3.html') }}">Cart section 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{{ asset('front/faq.html') }}">Faq</a>
                                </li>
                                <li><a href="{{ asset('front/blog.html') }}">Blog</a>
                                </li>
                                <li><a href="{{ asset('front/gallery.html') }}">Gallery</a>
                                </li>
                                <li><a href="{{ asset('front/trainer-profile.html') }}">Trainer profile</a>
                                </li>
                                <li><a href="{{ asset('front/contacts.html') }}">Contacts</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Other elements<i class="icon-down-open-mini"></i></a>
                            <ul>
                                <li><a href="{{ asset('front/shortcodes.html') }}">Shortcodes</a>
                                </li>
                                <li><a href="{{ asset('front/pricing-tables.html') }}">Pricing tables</a>
                                </li>
                                <li><a href="{{ asset('front/coming_soon/index.html') }}">Site launch</a>
                                </li>
                                <li><a href="{{ asset('front/icon_pack_1.html') }}">Icon pack 1</a>
                                </li>
                                <li><a href="{{ asset('front/icon_pack_2.html') }}">Icon pack 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Purchase this template</a>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#login" class="visible-xs">Login</a>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#register" class="visible-xs">Register</a>
                        </li>
                    </ul>
                </div>
                <!-- End main-menu -->
            </nav>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</header>
<!-- End Header =============================================== -->
<!-- Login modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myLogin">
                <input type="text" class="form-control form-white" placeholder="Username">
                <input type="text" class="form-control form-white" placeholder="Password">
                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input type="checkbox" value="accept_1" id="check_1" name="check_1" />
                        <label for="check_1"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span>
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- Register modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myRegister">
                <input type="text" class="form-control form-white" placeholder="Name">
                <input type="text" class="form-control form-white" placeholder="Last Name">
                <input type="email" class="form-control form-white" placeholder="Email">
                <input type="text" class="form-control form-white" placeholder="Password">
                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input type="checkbox" value="accept_2" id="check_2" name="check_2" />
                        <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span>
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Register</button>
            </form>
        </div>
    </div>
</div>
<!-- Search Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="icon_close"></i></span>
    <form role="search" id="searchform" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="icon-search-6"></i>
        </button>
    </form>
</div>
<!-- End Search Menu -->