{% extends "admin/base.html.twig" %}

{% block customStylesheets %}
    <!--page level css -->
    <link type="text/css" href="{{ asset('back/vendors/jasny-bootstrap/css/jasny-bootstrap.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('back/vendors/summernote/summernote.css') }}" rel="stylesheet" media="screen" />
    <link type="text/css" href="{{ asset('back/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('back/vendors/bootstrapvalidator/dist/css/bootstrapValidator.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('back/vendors/sweetalert/dist/sweetalert2.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('back/css/custom_css/events.css') }}" rel="stylesheet">
    <!--end of page level css-->
{% endblock %}

{% block body %}
    <aside class="right-side right-padding">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h2>Events List</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="events_list.html">Events List</a>
                </li>
            </ol>
        </section>
        <!--section ends-->
        <div class="container-fluid">
            <!--main content-->
            {{ include('admin/events/show.html.twig') }}
            <!--row ends-->
        </div>
        <!-- /.content -->
    </aside>
{% endblock %}

{% block customJs %}
    <!-- global js -->
    <script src="{{ asset('back/js/holder.js') }}" type="text/javascript"></script>
    <!-- end of page level js -->
    <!-- begining of page level js -->
    <script src="{{ asset('back/vendors/summernote/summernote.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('back/vendors/jasny-bootstrap/js/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('back/vendors/moment/moment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('back/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('back/vendors/bootstrapvalidator/dist/js/bootstrapValidator.js') }}" type="text/javascript"></script>

    <script src="{{ asset('back/js/custom_js/events.js') }}"></script>
    <!-- end of page level js -->
{% endblock %}