<aside class="right-side right-padding">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!--section starts-->
        <h2>News Details</h2>
        <ol class="breadcrumb">
            <li>
                <a href="user_index.html">
                    <i class="fa fa-fw fa-home"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#">News</a>
            </li>
            <li>
                <a href="news_details.html">News Details</a>
            </li>
        </ol>
    </section>
    <!--section ends-->
    <div class="container-fluid">
        <div class="row">
            <!-- Product -->
            <div class="col-md-11">
                <!-- Content news List -->
                <div class="news-list-content">
                    <!-- news Item -->
                    <div class="post-item">
                        <div class="post-header">
                            <h4>
                                <a href="" title="fitness">{{ reclamation.user.firstname }}</a>
                            </h4>
                        </div>
                        <p class="october"><i class="fa fa-calendar"></i> {{ reclamation.date }}</p>
                        <p class="news-description text-color">
                                {{ reclamation.content }}
                        </p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reply</h3>
                    </div>
                    <div class="panel-body">
                        {{  form_start(form,{'attr':{'novalidate': 'novalidate','id':'news_details'}}) }}
                            <!--<div class="form-group">
                                <input type="text" name="user_name" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Your Email Address" required>
                            </div>
                            <div class="form-group">
                                <input type="url" name="website" class="form-control" placeholder="Your Website">
                            </div>-->
                            <div class="form-group">
                                {{ form_widget(form.reply) }}
                                {{ form_errors(form.reply) }}
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-md" value="Submit">
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- End Product -->
        </div>
        <!-- col-md-6 -->
        <!--row -->
        <!--row ends-->
    </div>
    <!-- /.content -->
</aside>