{% extends 'base.html.twig' %}

{% block title %}Command{% endblock %}

{% block body %}
    <h1>Command</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command.id }}</td>
            </tr>
            <tr>
                <th>IdCmd</th>
                <td>{{ command.IdCmd }}</td>
            </tr>
            <tr>
                <th>IdProd</th>
                <td>{{ command.IdProd }}</td>
            </tr>
            <tr>
                <th>IdClient</th>
                <td>{{ command.IdClient }}</td>
            </tr>
            <tr>
                <th>DesCmd</th>
                <td>{{ command.DesCmd }}</td>
            </tr>
            <tr>
                <th>CmdDate</th>
                <td>{{ command.CmdDate ? command.CmdDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DlvrDate</th>
                <td>{{ command.DlvrDate ? command.DlvrDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>TotalCmd</th>
                <td>{{ command.TotalCmd }}</td>
            </tr>
            <tr>
                <th>CmdStatus</th>
                <td>{{ command.CmdStatus }}</td>
            </tr>
            <tr>
                <th>DlvrStatus</th>
                <td>{{ command.DlvrStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('command_index') }}">back to list</a>

    <a href="{{ path('command_edit', {'id': command.id}) }}">edit</a>

    {{ include('command/_delete_form.html.twig') }}
{% endblock %}
