{% extends 'base.html.twig' %}

{% block title %}Our Products{% endblock %}

{% block body %}
    <h1>Our products</h1>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>CatProd</th>
                <th>Description</th>
                <th>Img</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.Name }}</td>
                <td>{{ product.CatProd }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.Img }}</td>
                <td>{{ product.Price }}</td>
                <td>
                    <a href="{{ path('product_show', {'IdProd': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'IdProd': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
