{% extends 'base.html.twig' %}

{% block title %}Hello ExercicesFrontController!{% endblock %}

{% block body %}

    <!-- SubHeader =============================================== -->
    <section class="parallax_window_in" data-parallax="scroll" data-image-src="img/sub_header_general.jpg" data-natural-width="1400" data-natural-height="470">
        <div id="sub_content_in">
            <h1>LoveFit Workout Videos</h1>
            <p>"Usu habeo equidem sanctus no ex melius labitur conceptam eos"</p>
        </div>
    </section>
    <!-- End section -->
    <!-- End SubHeader ============================================ -->

    <div class="container_styled_1">
        <div class="container margin_60_35">
            <div class="row">

                <aside class="col-md-3 col-md-push-9" id="sidebar">
                    <div class="theiaStickySidebar">
                        <div id="filters_col">
                            <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
                            <div class="collapse" id="collapseFilters">
                                <div class="filter_type">
                                    <h6>Price</h6>
                                    <input type="text" id="range" name="range" value="">
                                </div>
                                <div class="filter_type">
                                    <h6>Type</h6>
                                    <ul>
                                        <li>
                                            <label>All (277)</label>
                                            <input type="checkbox" class="js-switch" checked>
                                        </li>
                                        <li>
                                            <label>Yoga (77)</label>
                                            <input type="checkbox" class="js-switch">
                                        </li>
                                        <li>
                                            <label>Cardio (552)</label>
                                            <input type="checkbox" class="js-switch">
                                        </li>
                                        <li>
                                            <label>Strenght (909)</label>
                                            <input type="checkbox" class="js-switch">
                                        </li>
                                        <li>
                                            <label>Pilates (1196)</label>
                                            <input type="checkbox" class="js-switch">
                                        </li>
                                    </ul>
                                </div>
                                <div class="filter_type">
                                    <h6>Body Focus</h6>
                                    <ul>
                                        <li>
                                            <label>Total Body (77)</label>
                                            <input type="checkbox" class="js-switch" checked>
                                        </li>
                                        <li>
                                            <label>Upper Body (552)</label>
                                            <input type="checkbox" class="js-switch">
                                        </li>
                                        <li>
                                            <label>Lower Body (909)</label>
                                            <input type="checkbox" class="js-switch">
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!--End collapse -->
                        </div>
                        <!--End filters col-->
                    </div>
                    <!--End Sticky -->
                </aside>
                <!--End aside -->

                <div class="col-md-9 col-md-pull-3">
                    <div class="row">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="course_container">
                                <div class="ribbon top"><span>Top Sell</span></div>
                                <figure>
                                    <a href="{{ path('single_exercice') }}">
                                        <img src="{{ asset('front/img/course_1.jpg') }}" width="800" height="533" class="img-responsive" alt="Image">
                                        <div class="short_info"><i class="icon-clock-1"></i>2 hr 56 min</div>
                                    </a>
                                </figure>
                                <div class="course_title"><div class="type"><span>Yoga</span></div>
                                    <h3><a href="{{ path('single_exercice') }}">Yoga Fundamentals</a></h3>
                                    <div class="info_2 clearfix"><span class="price">39.90<sup>$</sup></span><span class="users">450</span></div>
                                </div>
                            </div>
                            <!-- End box course_container -->
                        </div>
                        <!-- End col-md-6 -->

                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="course_container">
                                <div class="ribbon top"><span>Top sell</span></div>
                                <figure>
                                    <a href="{{ path('single_exercice') }}">
                                        <img src="{{ asset('front/img/course_2.jpg') }}" width="800" height="533" class="img-responsive" alt="Image">
                                        <div class="short_info"><i class="icon-clock-1"></i>2 hr 56 min</div>
                                    </a>
                                </figure>
                                <div class="course_title">
                                    <div class="type"><span>Yoga</span></div>
                                    <h3><a href="{{ path('single_exercice') }}">Total Body Stretching </a></h3>
                                    <div class="info_2 clearfix"><span class="price">39.90<sup>$</sup></span><span class="users">450</span></div>
                                </div>
                            </div>
                            <!-- End box course_container -->
                        </div>
                        <!-- End col-md-6 -->
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="course_container">
                                <div class="ribbon"><span>Popular</span>
                                </div>
                                <figure>
                                    <a href="{{ path('single_exercice') }}">
                                        <img src="{{ asset('front/img/course_3.jpg') }}" width="800" height="533" class="img-responsive" alt="Image">
                                        <div class="short_info"><i class="icon-clock-1"></i>2 hr 56 min</div>
                                    </a>
                                </figure>
                                <div class="course_title">
                                    <div class="type"><span>Yoga</span>
                                    </div>
                                    <h3><a href="{{ path('single_exercice') }}">Flexibility and Toning</a></h3>
                                    <div class="info_2 clearfix"><span class="price">39.90<sup>$</sup></span><span class="users">450</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End box course_container -->
                        </div>
                        <!-- End col-md-6 -->
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="course_container">
                                <div class="ribbon"><span>Popular</span>
                                </div>
                                <figure>
                                    <a href="{{ path('single_exercice') }}">
                                        <img src="{{ asset('front/img/course_4.jpg') }}" width="800" height="533" class="img-responsive" alt="Image">
                                        <div class="short_info"><i class="icon-clock-1"></i>2 hr 56 min</div>
                                    </a>
                                </figure>
                                <div class="course_title">
                                    <div class="type"><span>Strength</span>
                                    </div>
                                    <h3><a href="{{ path('single_exercice') }}">Strength Upper Body</a></h3>
                                    <div class="info_2 clearfix"><span class="price">39.90<sup>$</sup></span><span class="users">450</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End box course_container -->
                        </div>
                        <!-- End col-md-6 -->
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="course_container">
                                <div class="ribbon"><span>Popular</span>
                                </div>
                                <figure>
                                    <a href="{{ path('single_exercice') }}">
                                        <img src="{{ asset('front/img/course_5.jpg') }}" width="800" height="533" class="img-responsive" alt="Image">
                                        <div class="short_info"><i class="icon-clock-1"></i>2 hr 56 min</div>
                                    </a>
                                </figure>
                                <div class="course_title">
                                    <div class="type"><span>Strength</span>
                                    </div>
                                    <h3><a href="{{ path('single_exercice') }}">Fat Burning Butt and Thigh </a></h3>
                                    <div class="info_2 clearfix"><span class="price">39.90<sup>$</sup></span><span class="users">450</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End box course_container -->
                        </div>
                        <!-- End col-md-6 -->
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                            <div class="course_container">
                                <div class="ribbon"><span>Popular</span>
                                </div>
                                <figure>
                                    <a href="{{ path('single_exercice') }}">
                                        <img src="{{ asset('front/img/course_6.jpg') }}" width="800" height="533" class="img-responsive" alt="Image">
                                        <div class="short_info"><i class="icon-clock-1"></i>2 hr 56 min</div>
                                    </a>
                                </figure>
                                <div class="course_title">
                                    <div class="type"><span>Cardio</span>
                                    </div>
                                    <h3><a href="{{ path('single_exercice') }}">1000 Calorie Workout Video</a></h3>
                                    <div class="info_2 clearfix"><span class="price">39.90<sup>$</sup></span><span class="users">450</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End box course_container -->
                        </div>
                        <!-- End col-md-6 -->
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="course_container">
                                <figure>
                                    <a href="{{ path('single_exercice') }}">
                                        <img src="{{ asset('front/img/course_7.jpg') }}" width="800" height="533" class="img-responsive" alt="Image">
                                        <div class="short_info"><i class="icon-clock-1"></i>2 hr 56 min</div>
                                    </a>
                                </figure>
                                <div class="course_title">
                                    <div class="type"><span>Cardio</span>
                                    </div>
                                    <h3><a href="{{ path('single_exercice') }}">Fat Burning Cardio</a></h3>
                                    <div class="info_2 clearfix"><span class="price">39.90<sup>$</sup></span><span class="users">450</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End box course_container -->
                        </div>
                        <!-- End col-md-6 -->
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.8s">
                            <div class="course_container">
                                <figure>
                                    <a href="{{ path('single_exercice') }}">
                                        <img src="{{ asset('front/img/course_8.jpg') }}" width="800" height="533" class="img-responsive" alt="Image">
                                        <div class="short_info"><i class="icon-clock-1"></i>2 hr 56 min</div>
                                    </a>
                                </figure>
                                <div class="course_title">
                                    <div class="type"><span>Pilates</span>
                                    </div>
                                    <h3><a href="{{ path('single_exercice') }}">Lower Body Pilates</a></h3>
                                    <div class="info_2 clearfix"><span class="price">39.90<sup>$</sup></span><span class="users">450</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End box course_container -->
                        </div>
                        <!-- End col-md-6 -->
                    </div>
                    <!-- End row -->
                    <nav>
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End container -->
    </div>
    <!-- End container_styled_1 -->

    <script>
        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 30,
            max: 180,
            from: 40,
            to: 90,
            type: 'double',
            step: 1,
            prefix: "$",
            grid: false
        });
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, {
                size: 'small'
            });
        });
    </script>
{% endblock %}
