{% extends 'base.html.twig' %}

{% block title %}Hello SingleExerciceController!{% endblock %}

{% block body %}

    <!-- SubHeader =============================================== -->
    <section class="parallax_window_in" data-parallax="scroll" data-image-src="{{ asset('front/img/'~ exercices.image) }}" data-natural-width="1400" data-natural-height="470">
        <div id="sub_content_in">
            <h1>{{ exercices.name }}</h1>
            <p>{{ exercices.level }}</p>
        </div>
    </section>
    <!-- End section -->
    <!-- End SubHeader ============================================ -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-md-8 ">
                <iframe width="560" height="315" src="{{ exercices.video }}" allowfullscreen></iframe>
                <ul id="course_info">
                    <li><i class="icon-clock"></i> {{ exercices.duration }} min</li>
                    <li><i class=" icon-chart-bar-5"></i> {{ exercices.level }}</li>
                    <li><i class="icon-workout"></i> {{ exercices.label }}</li>
                </ul>


                <!-- End row -->
                <hr class="add_bottom_30">


            </div>
            <!-- End col -->
            <div class="col-md-4" id="sidebar">
                <div class="theiaStickySidebar">
                    <div class="box_style_2">
                        {% if exercices.price ==0 %}
                        <div id="price_in">
                            FREE<sup></sup>
                        </div>
                        {% else%}
                        <div id="price_in">
                            {{ exercices.price }}<sup>TND</sup>
                        </div>
                        {% endif %}
                        <div id="features">
                            <h4>We offer you :</h4>
                            <ul>
                                <li><a href="#0" class="tooltip-1" data-placement="right" title="" data-original-title="Default tooltip"><i class="icon_film"></i>A highly demonstrative video by one of our finest trainers and workout experts about : {{ exercices.name }}</a>
                                </li>

                                <li><a href="#0" class="tooltip-1" data-placement="right" title="" data-original-title="Default tooltip"><i class="icon_lock-open_alt"></i>Lifetime access</a>
                                </li>
                                <li><a href="#0" class="tooltip-1" data-placement="right" title="" data-original-title="Default tooltip"><i class="icon_chat_alt"></i>Contact coach</a>
                                </li>
                            </ul>

                        </div>

                        <hr>
                        {% if exercices.price ==0 %}
                        <a href="cart-page-1.html" class="btn_full">GET NOW FOR FREE</a>

                        {% else%}
                        <a href="cart-page-1.html" class="btn_outline">BUY TO OWN</a>
                        {% endif %}
                        <a class="btn_outline" href="#"><i class=" icon-heart"></i> Add to whislist</a>
                    </div>
                    <!-- End box_style -->
                    <div id="trainer_col">
                        <h4>About the trainer</h4>
                        <div class="media">
                            <div class="pull-right">
                                <a href="#"><img src="{{ asset('front/img/avatar1.jpg') }}" class="img-circle" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Marc Twain</h5>
                                <p>
                                    Mea assum nemore erroribus ei, eu sed movet animal eleifend. Id usu recteque consequuntur, nam elitr veniam legere ex. Nec iriure scaevola intellegat ea, cu cum erroribus concludaturque. In quis solum legimus qui.
                                    <br><a href="trainer-profile.html">View profile</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End theiaStickySidebar -->
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <!-- SPECIFIC SCRIPTS -->
    <script src="{{ asset('front/js/jquery.fitvids.js') }}"></script>
    <script>$(".container").fitVids();</script>
    <script>
        $("#modal_calc").animatedModal({
            animatedIn:'bounceIn',
            animatedOut:'bounceOut',
            color:'#4088DA'
        });
    </script>




{% endblock %}
